HTTP_PORT=8083
APP_BASE_PATH=/api

DATABASE_URL=localhost
DATABASE_PORT=5432
DATABASE_NAME=tecnica_db
DATABASE_USER=sofka_user
DATABASE_PASSWORD=password
FLYYWAY_DATABASE_USER=sofka_owner
FLYYWAY_DATABASE_PASSWORD=password
